@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&family=Raleway&display=swap');

/* ______________Base styles________________ */
body{
    font-family: 'Poppins', sans-serif;
    margin-top: 87px;
    margin-bottom: 0px;
}
main{
    margin-left: 165px;
    margin-right:165px;
}
section{
    margin-bottom: 100px;
}
hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8c8c inset;
  }
h1{
    font-size: 52px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
small{
    font-size: 14px;
}
/* __________________head_______________________ */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: black;
    margin-left: 165px;
    margin-right:165px;
}
nav a{
    margin-right: 5px;
    margin-left: 5px;
}
/* _______________body________________ */
 /* _____intro______ */
 .intro{
     display: flex;
     margin-top: 80px;
 }
 .intro_write button{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background-color: navy;
    color: white;
    font-weight: 600;
 }
 .intro_write button:hover{
     background-color: lightblue;
     transform: scale(1.1,1.1);
 }
 .intro_img{
     background-image: url(images/Circle\ design.svg);
     background-repeat: no-repeats;
 }
 .intro_img:hover{
    opacity: 0.5;
 }
 .intro_img:hover img{
     transform: scale(1.1,1.1);
     transition: transform 0.3s ease-in-out;
 }
 /* ____Product Menu____ */
 .products{
     display:grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(3,1fr);
     row-gap: 30px;
     column-gap: 30px;
     padding-left: 32px;
     padding-right: 32px;
 }
 .product{
     padding: 15px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     border-radius: 10px;
 }
 .product:hover{
     opacity: 0.7;
 }
 .product img{
    display: block;
 }
 .rating{
    color: gray;
}
.product .fas,.far{
     font-size: 14px;
     color: orange;   
 }
 .more_product{
     text-decoration: none;
     color:navy;
     font-weight: 700;
     text-align:right;
     display: block;
     margin-top: 50px;
 }
 .more_product:hover{
     color:lightblue;
 }
 /* ________Boost________ */
.boost{
    display: flex;
    background-color:navy;
    color: white;
    padding: 20px;  
    border-radius: 10px;
}
.boost:hover img{
    transform: rotate(360deg);
    transition: transform 3s ease-in-out 0.5s;
}
.boost img{
    width: 404px;
    height: 270px;
    display: block;
    border-radius: 50px;
}
.boost article{
    margin-left: 40px;
    margin-right: 20px;
}
.boost article button{
    background-color: white;
    color: navy;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 5px;
}
.boost article button:hover{
    opacity: 0.5;
}
 /* _____Footer_______ */
 footer{
     background-color: #0A0826;
     color: white;
    text-align: center;
    margin: 0;
 }
 footer a{
     color: white;
     margin: 5px;
 }
/* Media Querry */
/* mobile devices */
@media only screen and (max-width:688px){
    body{
        width: 100%;
    }
   header{
        display: grid;
        grid-template-columns: 1fr 1fr;
   } 
   .intro {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .products{
        display: grid;
        grid-template-rows: repeat(9,1fr);
        grid-template-columns: 1fr;
        align-items: center;
    }
    .boost{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .boost img{
        width: 202px;
        height: 135px;
        display: block;
        border-radius: 50px;
    }
    
}
/* Tablet display */
@media only screen and (min-width:688px) and (max-width:992px){
        body{
            width: 100%;
        }
        header, .intro{
            display: grid;
            grid-template-columns: 1fr 1fr;
       } 
       .products{
        display: grid;
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    .boost{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .boost img{
        width: 300px;
        height: 200px;
        display: block;
        border-radius: 50px;
    }


}