@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500&family=Raleway&display=swap');

/* ______________Base styles________________ */
body{
    font-family: 'Poppins', sans-serif;
    margin-left: 165px;
    margin-right:165px;
    margin-top: 87px;
}
section{
    margin-bottom: 100px;
}
h1{
    font-size: 52px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 24px;
}
/* __________________head_______________________ */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: black;
}
nav a{
    margin-right: 5px;
    margin-left: 5px;
}
/* _______________body________________ */
 /* intro */
 .intro{
     display: flex;
     margin-top: 80px;
 }
 .intro_write button{
    width: 196px;
    height: 44px;
    border-radius: 41px;
    background-color: navy;
    color: white;
    font-weight: 600;
 }
 .intro_write button:hover{
     background-color: lightblue;
     transform: scale(1.1,1.1);
 }
 .intro_img{
     background-image: url(images/Circle\ design.svg);
     background-repeat: no-repeats;
 }
 .intro_img:hover{
    opacity: 0.5;
 }
 .intro_img:hover img{
     transform: scale(1.1,1.1);
     transition: transform 0.3s ease-in-out;
 }